<div>
  <ol>
    <li>Aplicar la mascara directamente al camp input</li>
    <li>
      Llegir la mascara del fitxer de configuració de front-end
      {{ mascara }}
    </li>
    <li>Aplicar la mascara segons fitxer al camp Input</li>
    <li>Pasar i recuperar el valor del component &lt;ITACA-NSINIES&gt;</li>
    <li>Deshabilitar el camp de Input</li>
    <li>Autocompletar número de sinistre</li>
    <li>Visualizar quan hi ha un error en la entrada de dades</li>
    <li>numero sinistre | pipe</li>
  </ol>
</div>

<itaca-nsinies [(numSiniestro)]="nsinies"></itaca-nsinies>

<p>Número de sinistre: {{ nsinies }}</p>
<p>Número de sinistre (Pipe): {{ nsinies | imask: mascara_nsinies }}</p>

<itaca-nsinies [(numSiniestro)]="nsinies" [disabled]="true"></itaca-nsinies>
